@mixin flex($jsutify:'', $align: '') {
    display: flex;
    justify-content: $jsutify;
    align-items: $align;
}

@mixin posAbsolute($t:'', $r:'', $b:'', $l:'') {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}